{% load staticfiles %}

<section class="footer-main container">
  <div class="grid-manual grid-container">
    <div class="row">
      <div class="col-sm-12 col-md-4 footer-logo"><img src="{% static 'israelxedu.gov.il/images/default-logo.png' %}" alt="Home Page" /></div>
      <div class="col-sm-12 col-md-8">
          <div class="col-xs-4">
            <ul>
              <li>About</li>
              <li><a target="_blank" href="{{ lms_base_url }}/about">About this Site</a></li>
              <li><a target="_blank" href="{{ lms_base_url }}/contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-xs-4">
            <ul>
              <li>Support</li>
              <li><a target="_blank" href="{{ lms_base_url }}/tos">Terms of Service</a></li>
            </ul>
          </div>

        <div class="col-xs-4 openedx-logo">
              <img class="img img-responsive" src="{% static 'israelxedu.gov.il/images/powered_by_open_edX_logo.png' %}" alt="openedx-logo" />
        </div>

      </div>

    </div>
  </div>
</section>
