## mako
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-section">
  <div class="courses-container">
    <div class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">

          <div class="grid-manual">
            <div class="row">
              <div class="col col-12 text-center">
                <h2>
                  <span class="course-list-heading he"> העשירו את הידע והקריירה שלכם באמצעות הקורסים שלנו</span>
                  <span class="course-list-heading ar"> نمي معرفتك وخبرتك المهنية من خلال دوراتنا</span>
                  <span class="course-list-heading en"> Enrich your knowledge and career through our courses</span>
                </h2>
              </div>
            </div>

            <div class="row program-list">
              % for program in programs_list[:3]:
               <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                   <%include file="program.html" args="program=program" />
               </div>
              % endfor
            </div>

            <div class="row course-list">
              % for course in courses[:6]:
                <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                  <div class="courses-listing-item">
                    <%include file="course.html" args="course=course" />
                  </div>
                </div>
              % endfor
            </div>
          </div>
        </section>
      % endif

    </div>
  </div>
</section>
