## mako
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="course" expression_filter="h"/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden=true>${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${course.display_org_with_default}</span>
        <span class="course-title">${course.display_name}</span>
      </h2>
      <div class="course-date" aria-hidden="true">
        % if course.advertised_start:
          ${course.advertised_start}
        % else:
          % if course.start is not None:
            <span>${course.start.strftime('%b %-d, %Y')}</span>
          % endif
          % if course.end is not None:
            <span> - </span>
            <span>${course.end.strftime('%b %-d, %Y')}</span>
          % endif
        % endif
      </div>
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default | h}</li>
        <li>${course.display_name | h}</li>
        <li>${_("Starts")}:
          % if course.advertised_start:
            <time itemprop="startDate" datetime="${course.advertised_start}">${course.advertised_start}</time>
          % else:
            <time itemprop="startDate" datetime="${course.start}">${course.start.strftime('%b %-d, %Y')}</time>
          % endif
        </li>
      </ul>
    </div>
  </a>
</article>
