## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<div class="hero hero-about">
</div>

<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-8">

          <h1 class="he">המיזם הלאומי ללמידה דיגיטלית</h1>
          <h1 class="en">The National Project for Digital Learning</h1>
          <h1 class="ar">المشروع الوطني للتعلم الرقمي</h1>

          <p class="he">ההתפתחויות הטכנולוגיות של זמננו מאפשרות לכל אחד ואחת ללמוד בכל מקום, ובכל זמן. מהיום, כל מה שצריך כדי לגשת לקורסים ותכנים ממוסדות מובילים מהארץ ומהעולם, להכשרות מקצועיות ולמסלולי הסמכה במגזר הציבורי, הוא חיבור אינטרנט.  IsraelXהיא פלטפורמה דיגיטלית פתוחה המאפשרת חיבור של כל אזרחי מדינת ישראל, בפריפריה ובמרכז, לחוויית למידה מותאמת אישית, על ידי המרצים הטובים בתחומם, ובחינם.</p>
          <p class="en">The technological developments of our time allow each person to learn from anywhere, anytime.  Today, a connection to the internet is all one needs in order to access professional and vocational courses, public sector training courses, and courses and content from the leading educational institutions in Israel and throughout the world.  IsraelX is an open digital platform which enables all citizens of the State of Israel, whether from the center or the periphery, to connect to a personalized learning experience, through the best lecturers and teachers in their specific fields, and all for free.</p>
          <p class="ar">التطورات التكنولوجية في عصرنا تتيح لكل واحد وواحدة التعلم في كل مكان وفي كل زمان.
من اليوم، كل ما تحتاجه من أجل التوجه إلى دورات ومضامين من مؤسسات رائدة في البلاد والعالم، للتأهيل المهني ولمسارات ترخيص في القطاع العام، هو الارتباط بشبكة الإنترنت. IsraelX هي منصة رقمية مفتوحة تتيح ارتباط جميع مواطني دولة إسرائيل، في مركز البلاد وفي المناطق البعيدة عن مركز البلاد، بتجربة تعلم تتم ملاءمتها بصورة شخصية ، من قبل خيرة المحاضرين في مجالهم، وبشكل مجاني.</p>

          <p class="he">מטרת המיזם היא להגדיל את הנגישות להשכלה מקצועית ואקדמית לציבור הרחב, ולהפוך את  הלמידה להזדמנות הנמשכת לאורך מסלול חיים שלם (Life Long Learning). למידה דיגיטלית היא מגמה שהולכת ותופסת תאוצה בעולם ונחשבת כיום למיומנות תעסוקתית נדרשת ומשמעותית בשוק העבודה. מיזם IsraelX מגיב לשוק העבודה המשתנה, ומאפשר ייעול מסלולי הכשרה תוך חסכון נרחב בעלויות.</p>
          <p class="en">The goal of the project is to increase the general public’s access to professional and academic education, and to create the continued opportunity for Life-Long Learning.  Digital learning is a trend that is gaining momentum in the world and is today considered a required and significant occupational skill in the labor market.  The IsraelX Project is responding to the changing labor market and allowing the streamlining of training programs while saving on extensive costs.</p>
          <p class="ar">هدف المشروع هو زيادة تيسير الوصول إلى التعليم المهني والأكاديمي للجمهور العريض، وتحويل التعلم إلى فرصة تتواصل طوال مسار حياة كامل(Life Long Learning). التعلم الرقمي هو اتجاه آخذ في التسارع في العالم ويعتبر اليوم مهارة عمل مطلوبة وهامة في سوق العمل. مشروع IsraelX يلبي احتياجات سوق العمل المتغيرة، ويتيح زيادة نجاعة مسارات التأهيل مع توفير كبير في التكاليف.</p>

          <p class="he">המיזם הנו שותפות בין מטה ישראל דיגיטלית (המשרד לשוויון חברתי) ובין חברת edX העולמית. ישראל דיגיטלית היא מיזם לאומי השואף לרתום ולמנף את ההזדמנות הטמונה במהפכה הדיגיטלית ובהתקדמות טכנולוגיות המידע והתקשורת לטובת צמיחה כלכלית מואצת, צמצום פערים והפיכת הממשל לחכם, מהיר, ידידותי לאזרחים ומוביל עולמי בתחום הדיגיטלי.</p>
          <p class="en">The project is a partnership between the Digital Israel Bureau in the Ministry for Social Equality and the world edX company.  Digital Israel is a national project which strives to harness and leverage the hidden opportunities of the digital revolution and of the progress of ICT in order to promote accelerated economic growth, reduce socio-economic gaps, and create a smart, fast and friendly government for citizens while being a digital world leader.</p>
          <p class="ar">المشروع هو شراكة بين هيئة إسرائيل رقمية (وزارة المساواة الاجتماعية) وبين شركة edX العالمية. إسرائيل رقمية هو مشروع وطني يتطلع إلى استغلال وتعزيز الفرصة الكامنة في الثورة الرقمية وفي تقدم تكنولوجيا المعلومات والاتصالات لصالح النمو الاقتصادي السريع، تقليص الفجوات وتحويل الخدمات الحكو مية إلى خدمات حكيمة، سريعة وودية للمواطنين ورائدة في المجال الرقمي.</p>

          <p class="he"> IsraelX הנו פרויקט דגל של ישראל דיגיטלית בתחום החינוך וההשכלה, שהוקם לטובת צמצום פערים חברתיים, הגברת שוויון ההזדמנויות למגוון אוכלוסיות ומתן פתרונות הכשרה גמישים לשוק העבודה המתחדש.</p>
          <p class="en">IsraelX is a flagship project of Digital Israel in the field of education, which was created to reduce social gaps, increase the equality of opportunities for different segments of the population, and to provide flexible training solutions for an ever-evolving labor market.</p>
          <p class="ar"> هو مشروع ريادي لإسرائيل رقمية في مجال التعليم والثقافة، تمت إقامته من أجل تقليص الفجوات الاجتماعية، تعزيز تكافؤ الفرص للفئات السكانية المتنوعة وتوفير حلول تأهيل مرنة لسوق العمل المتجدد.</p>

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
</script>
