## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<div class="hero hero-about">
</div>

<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-8">
            <div class="he">
                <h1>המיזם הלאומי ללמידה דיגיטלית</h1>
                <p>ההתפתחויות הטכנולוגיות של זמננו מאפשרות לכל אחד ואחת ללמוד בכל מקום, ובכל זמן.

מהיום, כל מה שצריך כדי לגשת לקורסים ותכנים ממוסדות מובילים מהארץ ומהעולם,

להכשרות מקצועיות ולמסלולי הסמכה במגזר הציבורי, הוא חיבור אינטרנט.  IsraelXהיא

פלטפורמה דיגיטלית פתוחה המאפשרת חיבור של כל אזרחי מדינת ישראל, בפריפריה

ובמרכז, לחוויית למידה מותאמת אישית, על ידי המרצים הטובים בתחומם, ובחינם.</p>

                <p>מטרת המיזם היא להגדיל את הנגישות להשכלה מקצועית ואקדמית לציבור הרחב, ולהפוך

את  הלמידה להזדמנות הנמשכת לאורך מסלול חיים שלם (Life Long Learning). למידה

דיגיטלית היא מגמה שהולכת ותופסת תאוצה בעולם ונחשבת כיום למיומנות תעסוקתית

נדרשת ומשמעותית בשוק העבודה. מיזם IsraelX מגיב לשוק העבודה המשתנה, ומאפשר

ייעול מסלולי הכשרה תוך חסכון נרחב בעלויות.</p>

                <p>המיזם הנו שותפות בין מטה ישראל דיגיטלית (המשרד לשוויון חברתי) ובין חברת edX

העולמית. ישראל דיגיטלית היא מיזם לאומי השואף לרתום ולמנף את ההזדמנות הטמונה

במהפכה הדיגיטלית ובהתקדמות טכנולוגיות המידע והתקשורת לטובת צמיחה כלכלית

מואצת, צמצום פערים והפיכת הממשל לחכם, מהיר, ידידותי לאזרחים ומוביל עולמי בתחום

הדיגיטלי.</p>

                <p>IsraelX הנו פרויקט דגל של ישראל דיגיטלית בתחום החינוך וההשכלה, שהוקם לטובת

צמצום פערים חברתיים, הגברת שוויון ההזדמנויות למגוון אוכלוסיות ומתן פתרונות הכשרה

גמישים לשוק העבודה המתחדש.</p>

            </div>


      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
</script>
