## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<div class="hero hero-about">
</div>

<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-8">

          <h1 class="he">קמפוס - המיזם הלאומי ללמידה דיגיטלית</h1>
          <h1 class="en">Campus - The National Project for Digital Learning</h1>
          <h1 class="ar">المشروع الوطني للتعلم الرقميّ</h1>

          <div class="he">
              <p>ההתפתחויות הטכנולוגיות של זמננו מאפשרות לכל אחד ואחת ללמוד בכל מקום, ובכל זמן. מהיום, כל מה שצריך כדי לגשת לקורסים ותכנים ממוסדות מובילים מהארץ ומהעולם, להכשרות מקצועיות ולמסלולי הסמכה במגזר הציבורי, הוא חיבור אינטרנט.</p>
              <p>קמפוס היא פלטפורמה דיגיטלית פתוחה המאפשרת חיבור של כל אזרחי מדינת ישראל, בפריפריה ובמרכז, לחוויית למידה מותאמת אישית, על ידי המרצים הטובים בתחומם - ובחינם.</p>
              <p>מטרת המיזם היא להגדיל את הנגישות להשכלה מקצועית ואקדמית לציבור הרחב, ולהפוך את הלמידה להזדמנות הנמשכת לאורך מסלול חיים שלם               .(Life Long Learning) למידה דיגיטלית היא מגמה שהולכת ותופסת תאוצה בעולם ונחשבת כיום למיומנות תעסוקתית נדרשת ומשמעותית בשוק העבודה. מיזם קמפוס מגיב לשוק העבודה המשתנה, ומאפשר ייעול מסלולי הכשרה תוך חסכון נרחב בעלויות.</p>
              <p>המיזם הנו יוזמת המטה הלאומי ישראל דיגיטלית במשרד לשוויון חברתי ומבוסס על פלטפורמת open edX.</p>
              <p>המטה הלאומי ישראל דיגיטלית הוא מיזם לאומי השואף לרתום ולמנף את ההזדמנות הטמונה במהפכה הדיגיטלית ובהתקדמות טכנולוגיות המידע והתקשורת לטובת צמיחה כלכלית מואצת, צמצום פערים והפיכת הממשל לחכם, מהיר, ידידותי לאזרחים ומוביל עולמי בתחום הדיגיטלי.</p>
              <p>קמפוס הנו פרויקט דגל של ישראל דיגיטלית בתחום החינוך וההשכלה, שהוקם לטובת צמצום פערים חברתיים, הגברת שוויון ההזדמנויות למגוון אוכלוסיות ומתן פתרונות הכשרה גמישים לשוק העבודה המתחדש.</p>
          </div>
          <div class="en">
              <p>The technological developments of our time allow each person to learn anywhere, anytime. Today, a connection to the internet is all one needs in order to access professional and vocational courses, public sector training courses, and courses and content from the leading educational institutions in Israel and throughout the world. Campus is an open digital platform which enables all citizens of the State of Israel, whether from the center or the periphery, to connect to a personalized learning experience, through the best lecturers and teachers in their specific fields, free of cost.</p>
              <p>Digital Israel is a national project which strives to harness and leverage the opportunities of the digital revolution and of the progress of ICT in order to reduce socio-economic gaps, promote accelerated economic growth, and create a smarter, faster and friendlier government for citizens.</p>
              <p>Campus is a flagship project of Digital Israel in the field of digital education. It was created to reduce social gaps, increase the equality of opportunities for different segments of the population, and to provide flexible training solutions for an ever-evolving labor market.</p>
              <p>The goal of the project is to increase the general public’s access to professional and academic education, and to create a continued opportunity for Lifelong Learning. Digital learning is a trend that is gaining momentum in the world and is today considered a significant and required occupational skill in the labor market. The Campus project is responding to the changing labor market and allowing the streamlining of training programs while also cutting massive costs.</p>
              <p>The project is a partnership between the Digital Israel Bureau within the Ministry for Social Equality and the world edX company.</p>
          </div>
          <div class="ar">
              <p>االتطورات التكنولوجية في عصرنا تتيح لكل واحد وواحدة التعلم في كل مكان وفي كل زمان. من اليوم، كل ما تحتاجه من أجل التوجه إلى دورات ومضامين من مؤسسات رائدة في البلاد والعالم، للتأهيل المهني ولمسارات ترخيص في القطاع العام، هو الارتباط بشبكة الإنترنت. كامبوس هي برنامج رقميّ مفتوح يتيح ارتباط جميع مواطني دولة إسرائيل، في مركز البلاد وفي المناطق البعيدة عن مركز البلاد، بتجربة تعلم تتم ملاءمتها بصورة شخصية ، من قبل خيرة المحاضرين في مجالهم، وبشكل مجاني.</p>
              <p>هدف المشروع هو زيادة تيسير الوصول إلى التعليم المهني والأكاديمي للجمهور العريض، وتحويل التعلم إلى فرصة تتواصل طوال مسار حياة كامل (Life Long Learning). التعلم الرقمي هو اتجاه آخذ في التسارع في العالم ويعتبر اليوم مهارة عمل مطلوبة ومهمة في سوق العمل. مشروع كامبوس يلبي احتياجات سوق العمل المتغيرة، ويتيح زيادة نجاعة مسارات التأهيل مع توفير كبير في التكاليف. االمشروع هو مشروع مشترك بين هيئة إسرائيل رقمية (وزارة المساواة الاجتماعية) وبين شركة edX العالمية. إسرائيل رقمية هو مشروع وطني يتطلع إلى استغلال وتعزيز الفرصة الكامنة في الثورة الرقمية وفي تقدم تكنولوجيا المعلومات والاتصالات لصالح النمو الاقتصادي السريع، تقليص الفجوات وتحويل الخدمات الحكومية إلى خدمات حكيمة، سريعة وودية للمواطنين ورائدة في المجال الرقمي.</p>
              <p>مشروع كامبوس هو مشروع ريادي لإسرائيل رقمية في مجال التعليم والثقافة، تمت إقامته من أجل تقليص الفجوات الاجتماعية، تعزيز تكافؤ الفرص للفئات السكانية المتنوعة وتوفير حلول تأهيل مرنة لسوق العمل المتجدد</p>
          </div>
      </div>
       <div class="col col-12 sm-col-4 mission-statement">
            <img src="${static.url('images/ShaiSmall.jpg')}" alt=${_("Mission Statement")}>
            <p class="he">"למידה דיגיטלית היא אחד הכלים המשמעותיים ביותר לשוויון הזדמנויות ולצמצום פערים חברתיים וכלכליים בישראל"</p>
            <p class="en">"Digital Learning is a key equalizer for a society that aims to bridge socio-economic gaps"</p>
            <p class="ar">"التعليم الرقمي (عن طريق الشبكه) هو احدى الادوات المركزية لمساواة الفرص المتاحة بين الجميع، لتقليص الفجواتالاجتماعية والقتصادية في اسرائيل"</p>

            <p class="he">שי-לי שפיגלמן, ראש מטה ישראל דיגיטלית, המשרד לשוויון חברתי</p>
            <p class="en">Shai-Lee Spigelman, CEO Digital Israel Bureau, Ministry of Social Equality</p>
            <p class="ar">شاي-لي شفيكلمان، رئيسة هيئة اسرائيل الرقمية، مكتب المساواة الاجتماعية</p>
       </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
</script>
