## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import Text, HTML
from datetime import datetime
import pytz
from django.conf import settings
%>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Contact Us")}</%block>

<div class="page-heading">
  <h1>${_("Contact Us")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 col-centered">
          <p class="en">If you have any questions or need support from our team, please <a href="mailto:support@campus.gov.il?Subject=Support Request" class="brand-link">contact us</a></p>
          <p class="he">אם יש לכם שאלות, או זקוקים לתמיכה בכל נושא מהצוות שלנו, אל תהססו <a href="mailto:support@campus.gov.il?Subject=בקשת תמיכה" class="brand-link">לפנות אלינו</a></p>
          <p class="ar">إذا كان لديك أي أسئلة أو بحاجة إلى دعم من فريق العمل لدينا، يرجى  <a href="mailto:support@campus.gov.il?Subject=طلب دعم" class="brand-link">الاتصال بنا</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%block name="js_extra">
  <script type="text/javascript">
      $(".${LANGUAGE_CODE}").css('display', 'block');
  </script>
</%block>
