## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
  <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12">
          <h2 class="en">ISRAEL NATIONAL ON-LINE COURSES SITE (Campus)  SERVICES AGREEMENT NATIONAL SITE PRIVACY POLICY AND TERMS OF SERVICE</h2>
          <h2 class="he">הסכם שירותים לאתר Campus תנאי שירות ומדיניות הגנה על פרטיות</h2>
          <h2 class="ar">اتفاقية خدمات موقع إسرائيل الدولي للدورات عبر الانترنت
سياسة الخصوصية وشروط الخدمة للموقع الدولي</h2>

          <p class="en">In order to register and receive the services offered in this site, we will issue you a Personal username and password.</p>
          <p class="he">על מנת להירשם ולקבל את השירותים המוצעים באתר זה, ננפיק לכם שם משתמש וססמה אישיים.</p>
          <p class="ar">من أجل التسجيل والحصول على الخدمات المقدمة في هذا الموقع، سوف نوفر لك اسم مستخدم وكلمة سر شخصية.</p>

          <p class="en">Please note, that by entering this site, you are confirming that you understand and unambiguously consent to the collection, use, disclosure and retention of your personal information as detailed below, in Israel, Ireland and other countries and territories, for the purposes set forth in this Privacy Policy. For further certainty, any consent relating to a right to transfer information referred to as "Learner Data" shall be deemed to include your consent to the transfer of the applicable Personal Information to a jurisdiction which may provide a different level of privacy protection than that available in your own country.</p>
          <p class="he">יש לשים לב כי בעת הכניסה לאתר זה, הנכם מאשרים שאתם מבינים ומאשרים באופן חד משמעי את איסוף, שימוש, גילוי ושמירת פרטיכם האישיים, כמפורט להלן, בישראל, באירלנד ובמדינות וטריטוריות אחרות, לצרכים המפורטים במסמך מדיניות פרטיות זה. למען הסר ספק, מובהר כי כל אישור הנוגע לזכות להעברת מידע המוגדר להלן כ-"נתוני הלומד" כוללת גם את אישורכם להעברת המידע האישי הרלוונטי לתחום השיפוט שעשוי לספק רמה שונה של הגנת פרטיות מזו הקיימת במדינתכם</p>
          <p class="ar">يرجى الملاحظة أنه من خلال الدخول إلى هذا الموقع أنت تؤكد أنك تفهم وتوافق دون لبس على جمع، استخدام، الإفصاح عن وحفظ المعلومات الشخصية الخاصة بك كما هو موضح أدناه، في اسرائيل وايرلندا والبلدان والأقاليم الأخرى، للأغراض المنصوص عليها في سياسة الخصوصية هذه. للمزيد من اليقين، تعتبر أي موافقة التي تتعلق بالحق في نقل المعلومات المشار إليها هنا ب "بيانات الطالب" على أنها تشمل موافقتك على نقل المعلومات الشخصية المعنية إلى منطقة التي تقدم مستوى مختلف من حماية الخصوصية من ذلك المتاح في بلدك.</p>

          <p class="en">If you do not agree with these terms, then please do not accesses, browse, or register for the Site. If you choose not to provide us with certain information required to provide you with various services offered on our Site, you may not be able to establish a user account and we may not be able to provide you with those services. </p>
          <p class="he">אם אינכם מסכימים לתנאים אלה, אנא הימנעו מלגשת לאתר, לעיין באלו מתכניו או להירשם אליו. אם אתם בוחרים שלא לספק לנו מידע מסוים הנדרש לאספקת שירותים מסוימים שאתרנו מציע, יתכן שלא תוכלו ליצור חשבון משתמש, ויתכן שלא נוכל לספק לכם את השירותים הללו.</p>
          <p class="ar">إذا كنت لا توافق على هذه الشروط، الرجاء عدم الدخول إلى، أو تصفح، أو التسجيل في الموقع. إذا اخترت عدم تزويدنا بالمعلومات المطلوبة لتقديم الخدمات المختلفة المقدمة في موقعنا، قد لا تكون قادراً على إنشاء حساب مستخدم وقد لا نتمكن نحن من توفير تلك الخدمات لك.</p>

          <p class="en">We will need you to provide us with the following information ("Learner Data"):</p>
          <p class="he">נזדקק שתספקו לנו את המידע להלן אודותיכם ("נתוני לומד"):</p>
          <p class="ar">سوف نحتاج إلى الحصول على المعلومات التالية ("بيانات الطالب"):</p>

          <ol class="list-ordered en">
            <li class="item">First Name</li>
            <li class="item">Last Name</li>
            <li class="item">E-mail address</li>
            <li class="item">Country</li>
            <li class="item">Gender</li>
            <li class="item">Year of birth</li>
            <li class="item">Education level</li>
          </ol>

          <ol class="list-ordered he">
            <li class="item">שם פרטי</li>
            <li class="item">שם משפחה</li>
            <li class="item">כתובת דוא"ל</li>
            <li class="item">מדינה</li>
            <li class="item">מגדר</li>
            <li class="item">שנת לידה</li>
            <li class="item">רמת השכלה</li>
          </ol>

          <ol class="list-ordered ar">
            <li class="item">الاسم الشخصي</li>
            <li class="item">اسم العائلة</li>
            <li class="item"> عنوان البريد</li>
            <li class="item">الدولة</li>
            <li class="item"> الجنس</li>
            <li class="item"> سنة الولادة</li>
            <li class="item">مستوى التعليم</li>
          </ol>

          <p class="en">We collect Learner Data, when you sign up for a user account, participate in online courses, register for a paid certificate, send us email messages and/or participate in our public forums. We also collect certain usage information about student performance and patterns of learning. In addition, we track information indicating, among other things, which pages of our Site were visited, the order in which they were visited, when they were visited and which hyperlinks and other user interface controls were used.</p>
          <p class="he">אנו אוספים את נתוני הלומד במעמד הרשמתכם לאתר לצורך קבלת חשבון משתמש, כאשר הנכם משתתפים בקורסים מקוונים, נרשמים לקבלת תעודה בתשלום, שולחים לנו הודעות דוא"ל ו/או משתתפים בפורומים הציבוריים שלנו. אנו גם אוספים מידע שימושי מסוים על ביצועי תלמידים ודפוסי למידה. בנוסף, אנחנו עוקבים אחר מידע המעיד, בין היתר, באלו מדפי האתר ביקרתם, הסדר בו ביקרתם בהם, מתי ביקרתם בהם ובאילו היפר-קישורים ובקרי ממשק אחרים השתמשתם.</p>
          <p class="ar">نحن نقوم بجمع بيانات الطالب عندما تقوم بالتسجيل للحصول على حساب مستخدم، عندما تشارك في دورات عبر الانترنت، عندما تسجل للحصول على شهادة مقابل دفع، عندما ترسل لنا رسائل بريد إلكتروني و/أو تشارك في المنتديات العامة لدينا. ونحن نقوم أيضاً بجمع معلومات استخدام معينة حول أداء الطلاب وأنماط التعلم. وبالإضافة إلى ذلك، نحن نتبع المعلومات التي تشير، من بين أمور أخرى، إلى الصفحات التي تمت زيارتها في موقعنا، الترتيب الذي تمت زيارتها فيه، متى تمت زيارتها وأي روابط وغيرها من عناصر واجهة المستخدم تم استخدامها.</p>

          <p class="en">We may log the IP address, operating system, and browser software used by each user of the Site, and we may be able to determine from an IP address a user's Internet Service Provider and the geographic location of his or her point of connectivity. Various web analytics tools are used to collect this information. Some of the information is collected through cookies (small text files placed on your computer that store information about you, which can be accessed by the Site). You should be able to control how and whether cookies will be accepted by your web browser. Most browsers offer instructions on how to reset the browser to reject cookies in the "Help" section of the toolbar. If you reject our cookies, many functions and conveniences of this Site may not work properly.</p>
          <p class="he">אנו עשויים לתעד את כתובת ה-IP, מערכת ההפעלה ותוכנת הדפדפן המשמשים כל משתמש באתר, וביכולתנו לזהות מכתובת ה-IP את ספק האינטרנט והמיקום הגאוגרפי של נקודת ההתקשרות של המשתמש. מבחר כלי אנליטיקת רשת משמשים לאיסוף מידע זה. חלק מהמידע נאסף באמצעות קבצי Cookies (קבצי טקסט קטנים המוכנסים למחשב שלכם ומתעדים מידע עליכם, שאליו האתר יכול לגשת). אמורה להיות לכם היכולת לשלוט באופן שבו דפדפן האינטרנט שלכם מקבל קבצי Cookies, אם בכלל יקבל אותם. מרבית הדפדפנים מספקים הוראות כיצד לאפס את הדפדפן כך שיידחה קבצי Cookies, באיזור ה"עזרה" בסרגל הכלים. אם תדחו את קבצי ה-Cookies שלנו, תפקודים ואלמנטים רבים של כלי עזר באתר עשויים שלא לעבוד כראוי.</p>
          <p class="ar">قد نقوم بالدخول إلى عنوان بروتوكول الانترنت، نظام التشغيل، برنامج المتصفح الذي يستخدمه كل مستخدم للموقع، وقد نتمكن من خلال تحديد عنوان بروتوكول الانترنت، تحديد مزود خدمة الإنترنت للمستخدم وموقعه الجغرافي أو نقطة الاتصال التي اتصل منها بالموقع. يتم استخدام العديد من الأدوات التحليلية من أجل جمع هذه المعلومات. يتم جمع بعض المعلومات من خلال الكوكيز (ملفات نصية صغيرة الموجودة على جهاز الكمبيوتر الخاص بك التي تقوم بتخزين معلومات عنك، والتي يمكن الوصول إليها عن طريق الموقع). يجب أن تكون قادراً على التحكم في كيفية قبول واستخدام الكوكيز التي سيتم قبولها من قبل متصفح الويب الخاص بك. توفر معظم المتصفحات المعلومات والإرشادات حول كيفية إعادة ضبط المتصفح لرفض ملفات تعريف الارتباط في قسم "المساعدة" في شريط الأدوات. إذا قمت برفض تثبيت الكوكيز قد لا تعمل العديد من تطبيقات وأدوات هذا الموقع بشكل صحيح.</p>

          <p class="en">Among other things, we and the educational institutions that provide courses through this site may use the information about you collected through the Site (including Lerner Data) in connection with the following. In cases where we share or disclose your Learner Data: (1) the third party recipients are required to handle the Learner Data in a confidential manner and to maintain adequate security to protect the information from loss, misuse, unauthorized access or disclosure, alteration, and destruction; and (2) we will only disclose and share Learner Data that is required by the third party to fulfill the purpose stated at the time of collection.</p>
          <p class="he">בין היתר, אנו, מוסדות חינוך וגופים אחרים (להלן:"מוסדות החינוך"), המספקים קורסים באמצעות האתר, עשויים להשתמש במידע עליכם שייאסף מן האתר (כולל נתוני הלומד) במקרים שלהלן. במקרה שנשתף או נמסור את נתוני הלומד אודותיך: (1) נדרשים צדדים שלישיים המקבלים את נתוני הלומד לנהוג בנתונים אלו באופן חסוי  ולהפעיל אמצעי אבטחה מספקים לשם ההגנה על המידע מאובדן, שימוש בלתי הולם, גישה בלתי מורשה או חשיפה, שינוי והשמדה; (2) אנו נחשוף ונשתף את נתוני הלומד בפני צד ג' רק כשהדבר יידרש על ידי צד ג' לשם ביצוע אחת המטרות שהוצהרו בפניך, בעת איסוף המידע.</p>
          <p class="ar">من بين أمور أخرى، قد نقوم نحن والمؤسسات التعليمية التي تقدم دورات تعلمية من خلال هذا الموقع باستخدام المعلومات التي تم جمعها عنك من خلال الموقع (بما في ذلك بيانات الطالب) فيما يخص التالي. في الحالات التي نشارك فيها أو نكشف عن بيانات الطالب الخاصة بك (1) يجب على متلقي الطرف الثالث التعامل مع بيانات الطالب بطريقة سرية والحفاظ على الأمن الكافي لحماية المعلومات من الضياع أو سوء الاستخدام أو الوصول غير المصرح به أو الكشف عنها، تغييرها أو تدميرها؛ و (2) سوف نكشف فقط ونشارك بيانات الطالب المطلوبة من قبل الطرف الثالث لتحقيق الهدف المعلن وقت جمع هذه البيانات.</p>

          <ul class="list-bulleted">
            <li class="en">To enable us and the educational institutions to provide, administer, and improve the courses.</li>
            <li class="he"> על מנת לאפשר לנו ולמוסדות החינוך לספק את הקורסים, לנהל אותם ולשפר אותם.</li>
            <li class="ar">لتمكيننا والمؤسسات التعليمية من توفير وإدارة، وتحسين الدورات.</li>

            <li class="en">To help us and the educational institutions improve the site offerings, both individually (e.g., by course staff when working with a student) and in aggregate, and to individualize the experience and to evaluate the access and use of the Site and the impact of this site on the Israeli and worldwide educational community.</li>
            <li class="he"> על מנת לסייע לנו ולמוסדות החינוך לשפר את הצעת הערך של האתר, הן באופן פרטני (למשל על ידי צוות קורס בעת העבודה עם תלמיד), והן באופן כולל, ולהפוך את החוויה ליותר מותאמת אישית ולצורך ביצוע הערכה בדבר  הגישה לאתר השימוש בו, ואת השפעתו על קהילת החינוך הישראלית וקהילת החינוך הבינלאומית.</li>
            <li class="ar"> لمساعدتنا والمؤسسات التعليمية على تحسين ما يقدمه الموقع، سواء على المستوى الفردي (على سبيل المثال، من قبل طاقم الدورة خلال عمله مع الطالب) وبالإضافة إلى ذلك، تفريد التجربة وتقييم الوصول إلى واستخدام الموقع وتأثير هذا الموقع على المجتمع التعليمي الإسرائيلي وفي جميع أنحاء العالم.</li>

            <li class="en">For purposes of scientific research, particularly, for example, in the areas of cognitive science and education.</li>
            <li class="he"> לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך.</li>
            <li class="ar">لأغراض البحث العلمي، بشكل خاص، على سبيل المثال، في مجالات العلوم والتعليم المعرفي.</li>

            <li class="en">For the purpose for which you specifically provided the information, for example, to respond to a specific inquiry or provide you with access to the specific course content and/or services you select.</li>
            <li class="he">למטרות שלשמן סיפקתם את המידע במפורש, למשל, למענה על שאלה מסוימת או כדי לאפשר לכם גישה לתוכן הקורס המסוים ו/או שירותי הקורס המסוימים שתבחרו.</li>
            <li class="ar"> للسبب الذي من أجله تحديداً قدمت المعلومات، على سبيل المثال، للرد على استفسار معين أو توفير الوصول إلى محتوى دورة معينة و/أو الخدمات التي تختارها.</li>

            <li class="en">To track both individual and aggregate attendance, progress and completion of an online course, and to analyze statistics on student performance and how students learn.</li>
            <li class="he">על מנת לנהל מעקב פרטני וכולל של נוכחות, התקדמות והשלמתו של קורס מקוון, ולשם ניתוח הסטטיסטיקה על ביצועי תלמידים ואופן הלימוד של תלמידים.</li>
            <li class="ar">من أجل تعقب حضور الأفراد والحضور الكلي والتقدم والانتهاء من الدورة عبر الإنترنت، وتحليل الإحصاءات عن أداء الطالب، وكيفية تعلم الطلاب.</li>

            <li class="en">To monitor and detect violations of the Honor Code, the Terms of Service, as well as other misuses and potential misuses of the Site.</li>
            <li class="he"> על מנת לנטר ולזהות הפרות של קוד הכבוד או של תנאי השירות, כמו גם ניצול לרעה או ניצול אפשרי לרעה של האתר.</li>
            <li class="ar">رصد وكشف انتهاكات قانون الشرف، وشروط الخدمة، بالإضافة إلى أي سوء استخدام آخر وأي إساءة أخرى وسوء استخدام محتمل للموقع.</li>

            <li class="en">To publish information, but not Personal Information, gathered about site access, use, impact, and student performance.</li>
            <li class="he">על מנת לפרסם מידע שנאסף, אך לא מידע אישי, הנוגע לגישה לאתר, לשימוש בו, להשפעתו ולביצועי התלמידים.</li>
            <li class="ar">لنشر المعلومات، ولكن ليس المعلومات الشخصية، التي تم جمعها حول الوصول إلى الموقع، استخدامه، تأثيره، وأداء الطالب.</li>

            <li class="en">To send you updates about online courses offered by us or educational institutions or other events.</li>
            <li class="he">על מנת לשלוח לכם עדכונים על קורסים מקוונים שאנו או מוסדות חינוך מציעים, או על אירועים אחרים.</li>
            <li class="ar">لنرسل لك تحديثات حول الدورات الني نقدمها نحن أو المؤسسات التعليمية أو غيرها من الأخبار.</li>

            <li class="en">To archive this information and/or use it for future communications with you.</li>
            <li class="he">על מנת לארכב מידע זה ו/או להשתמש בו בתקשורת עתידית עמכם.</li>
            <li class="ar">لأرشفة هذه المعلومات و/أو استخدامها للاتصالات المستقبلية معك.</li>

            <li class="en">To maintain and improve the functioning and security of the Site and our software, systems, and network.</li>
            <li class="he"> על מנת לשמר ולשפר את תפקוד האתר, את התוכנה, המערכות והרשת שלנו, ואת אבטחתם.</li>
            <li class="ar"> لصيانة وتحسين أداء وأمن الموقع وبرامجنا والنظم والشبكات.</li>

            <li class="en">For purposes described elsewhere in this Privacy Policy (including, e.g., Sharing with Third Parties).</li>
            <li class="he"> למטרות המתוארות במקומות שונים במדיניות הפרטיות הזו (כולל, לדוגמה, שיתוף עם צד ג').</li>
            <li class="ar">للأغراض المذكورة في أماكن أخرى في سياسة الخصوصية هذه (بما في ذلك، على سبيل المثال، مشاركة مع الأطراف الثالثة).</li>

            <li class="en">To authenticate your identity when you register for a paid certificate.</li>
            <li class="he"> לצורך אימות זהותך בעת ההרשמה לתעודה בתשלום.</li>
            <li class="ar">لمصادقة هويتك عند التسجيل للحصول على شهادة مدفوعة.</li>

            <li class="en">To process refunds, as applicable.</li>
            <li class="he"> על מנת לעבד בקשות החזר כספי, ככל שהדבר ישים.</li>
            <li class="ar">لمعالجة استرداد الدفعات، حسب مقتضى الحال.</li>

          </ul>

          <p class="en">This Site may contain links to websites published by third parties, including other content providers as well as certain service providers, such as those who process payments on behalf of us. These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such websites, unless we have otherwise indicated in this Privacy Policy. We encourage you to be aware when you are be redirected to a third party website and review the privacy policies of each website you visit and use.</p>
          <p class="he">אתר זה עשוי להכיל קישורים לאתרי אינטרנט המתופעלים על ידי צד ג', לרבות ספקי תוכן אחרים וכן ספקי שירות מסוימים, כגון אותם ספקים המעבדים את התשלומים מטעמנו. אתרי אינטרנט אחרים אלה אינם נמצאים תחת שליטתנו, והנכם מסכימים ומכירים בכך שאיננו אחראים לאיסוף המידע האישי שלכם והשימוש בו במסגרת ביקורכם באתרים אלה, אלא אם מצוין אחרת במדיניות פרטיות זו. אנו ממליצים לכם להיזהר כשאתם מופנים לאתרי צד ג' מתוך אתר זה, ולעיין במדיניות הפרטיות של כל אתר ואתר שאתם מבקרים בו ומשתמשים בו.</p>
          <p class="ar">قد يحتوي هذا الموقع على روابط لمواقع التي تم نشرها من قبل أطراف ثالثة، بما في ذلك مقدمي المحتويات الأخرى وكذلك مقدمي خدمات معينة، مثل خدمات معالجة المدفوعات نيابة عنا. هذه المواقع الأخرى لا تخضع لسيطرتنا، وأنت تقر وتوافق على أننا لسنا مسؤولين عن جمع واستخدام المعلومات الخاصة بك عن طريق هذه المواقع، إلا إذا أشرنا إلى غير ذلك في سياسة الخصوصية هذه. نحن نشجعكم على الانتباه عندما يتم إعادة توجيهكم إلى موقع طرف ثالث، ومراجعة سياسات الخصوصية لكل موقع الذي تقوم بزيارته واستخدامه.</p>

          <p class="en">we will share information we collect with educational institutions, and we and the educational institutions may share this information (including Lerner Data) with third parties as follows:</p>
          <p class="he">אנו נחלוק את המידע שאנו אוספים עם מוסדות חינוך, ואנו ומוסדות החינוך עשויים לחלוק מידע זה (כולל נתוני הלומד) עם צד ג' כדלקמן:</p>
          <p class="ar">سوف نشارك المعلومات التي نقوم بجمعها مع المؤسسات التعليمية، ويجوز لنا وللمؤسسات التعليمية مشاركة هذه المعلومات (بما في ذلك بيانات الطالب) مع أطراف ثالثة على النحو التالي:</p>

          <ul class="list-bulleted">

            <li class="en">With service providers or contractors that perform certain functions on our or the educational institutions behalf, including processing information that you provide to us on the Site, processing purchases via third party providers, and other transactions through the Site, operating the Site or portions of it, providing or administering courses, or in connection with other aspects of our services.</li>
            <li class="he"> עם ספקי שירות או קבלנים שמבצעים פעולות מסוימות בשמנו או בשם מוסדות החינוך, כולל עיבוד מידע שסיפקתם לנו באתר, עיבוד רכישות ועסקאות אחרות באתר דרך ספקי צד ג', הפעלת האתר או חלקים ממנו, אספקת קורסים או ניהולם, או בכל קשר לכל היבט אחר של השירותים המוענקים על ידנו.</li>
            <li class="ar">مع مقدمي الخدمات أو المقاولين الذين يؤدون بعض الوظائف على موقعنا أو باسم المؤسسات التعليمية، بما في ذلك معالجة المعلومات التي تقدمها لنا على الموقع، والشراء عبر أطراف ثالثة، وغيرها من المعاملات من خلال الموقع، تشغيل الموقع أو أجزاء منه، توفير أو إدارة الدورات، أو في اتصال مع جوانب أخرى من الخدمات التي نقدمها.</li>

            <li class="en">With other visitors to the Site, to the extent that you submit comments, course work, or other information or content (collectively, "Postings") to a portion of the Site designed for public communications; and with other members of a class of which you are a member, to the extent you submit Postings to a portion of the Site designed for viewing by those class members. We may provide your Postings to students who later enroll in the same classes as you, within the context of the forums, the courseware, or otherwise. If we do re-post your Postings originally made to non-public portions of the Site, we will post them without your real name and e-mail (except with your express permission), but we may use your username without your consent.</li>
            <li class="he"> עם מבקרים אחרים באתר, במידה שהנכם שולחים תגובות, שיעורי בית או מידע אחר ותכנים אחרים (יחדיו, "הפרסומים") לחלק באתר שיועד לתקשורת ציבורית; ולחברים אחרים בכיתה שאתם חברים בה, במידה שהנכם שולחים פרסומים לחלק באתר שיועד לעיונם של חברי כיתה אלה. אנחנו עשויים לספק את פרסומיכם לתלמידים שיירשמו לאותם קורסים שלמדתם, בהקשר של הפורומים, הלומדה או בכל הקשר אחר. אם אנו מפרסמים מחדש את פרסומיכם, שהופיעו במקור בחלקים הבלתי-ציבוריים של האתר, נפרסם אותם ללא שמכם האמיתי וכתובת הדוא"ל האמיתית שלכם (אלא אם תאשרו את פרסום פרטיכם במפורש), אך נוכל להשתמש בשם המשתמש שלכם ללא הסכמתכם.</li>
            <li class="ar">مع زوار آخرين إلى الموقع، لدرجة إرسالك التعليقات، العمل خلال الدورات، أو المعلومات أو المحتويات الأخرى (إجمالاً، "منشورات") في الجزء من الموقع المصمم للاتصالات العامة؛ ومع أعضاء آخرين من الصف الذي كنت عضواً فيه، إلى الحد الذي تقوم فيه بالنشر في الجزء من الموقع مصمم للعرض من قبل أعضاء الصف. قد نجعل منشوراتك متوفرة للطلاب الذين ينضمون في وقت لاحق إلى نفس الصف، في إطار المنتديات، المناهج التعليمية، أو غير ذلك. إذا قمنا بإعادة نشر منشوراتك في أجزاء غير عامة في الموقع، سنقوم بنشرها دون ذكر اسمك الحقيقي والبريد الإلكتروني (إلا بإذن صريح منك)، ولكن قد نستخدم اسم المستخدم الخاص بك دون موافقتك.</li>

            <li class="en">For purposes of scientific research, particularly, for example, in the areas of cognitive science and education. However, we will only share Personal Information about you for this purpose to the extent doing so complies with applicable law and is limited to the Personal Information required to fulfill the purposes stated at the time of collection.</li>
            <li class="he"> לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך. יחד עם זאת, אנו נחלוק את המידע האישי שלכם למטרה זו אך ורק במידה וניתן לעשות זאת על פי הדין ובמידה המותרת על פי הדין בלבד.</li>
            <li class="ar">لأغراض البحث العلمي، بشكل خاص، على سبيل المثال، في مجالات العلوم والتعليم المعرفي. ومع ذلك، سوف نشارك معلوماتك الشخصية لهذا الغرض فقط إلى الحد الذي يتوافق مع القانون المعمول به ويقتصر على المعلومات الشخصية المطلوبة لتحقيق الأغراض المعلن عنها وقت جمع المعلومات.</li>

            <li class="en">To provide opportunities for you to communicate with other users who may have similar interests or educational goals. For instance, we may recommend specific study partners or connect potential student mentees and mentors. In such cases, we may use all information collected about you to determine who might be interested in communicating with you, but we will only provide other users your username, and not disclose your real name or e-mail address to your contact.</li>
            <li class="he">על מנת לספק לכם הזדמנויות  לתקשר עם משתמשים אחרים בעלי תחומי עניין דומים לשלכם ומטרות לימוד דומות לשלכם. למשל, אנחנו עשויים להמליץ על שותפים מסוימים ללימוד או לקשר בין תלמידים עם פוטנציאל להיות מנטורים אחד של השני. במקרים כאלה, נוכל להשתמש במידע שאספנו עליכם כדי להכריע מי יהיה מעוניין בתקשורת עמכם, אך נספק לתלמידים אחרים רק את שם המשתמש שלכם, ולא נחשוף את שמכם האמיתי או את כתובת הדוא"ל שבה ניתן ליצור איתכם קשר.</li>
            <li class="ar">لتوفير الفرص لك من أجل التواصل مع المستخدمين الآخرين الذين قد يكون عندهم نفس الاهتمامات أو الأهداف التعليمية. على سبيل المثال، قد نوصي بشركاء دراسة محددين أو الوصل بين طلاب وموجهين محتملين. في مثل هذه الحالات، قد نستخدم جميع المعلومات التي تم جمعها عنك لتحديد من قد يكون مهتم في التواصل معك، ولكن سوف نقدم للمستخدمين الآخرين فقط اسم المستخدم الخاص بك، ولن نكشف عن اسمك الحقيقي أو عنوان البريد الإلكتروني الخاص بك لجهة الاتصال.</li>

            <li class="en">To respond to subpoenas, court orders, or other legal process; to investigate, or prevent, or take action regarding illegal activities, suspected fraud, or security or technical issues, or to enforce our Terms of Service, our Honor Code, or this Privacy Policy; as otherwise may be required by applicable law; or to protect our rights, property, or safety or those of others.</li>
            <li class="he"> בתגובה לזימון לבית דין או לצו בית משפט, או עבור כל תהליך חוקי אחר; על מנת לחקור, או למנוע חקירה, או על מנת לפעול בתגובה לפעילויות בלתי-חוקיות, חשד להונאה, או לאור בעיות אבטחה או בעיות טכניות, או על מנת לאכוף את תנאי השירות שלנו, את קוד הכבוד שלנו או את מדיניות הפרטיות שלנו, ככל שיידרש מעבר לכך בדין החל, או על מנת להגן על זכויותינו, רכושנו ובטחוננו או של אחרים.</li>
            <li class="ar"> للرد على مذكرات حضور، أوامر المحكمة، أو غيرها من الإجراءات القانونية. للتحقيق، أو منع، أو اتخاذ إجراءات التي تتعلق بأنشطة غير مشروعة، الاشتباه في احتيال، أو القضايا الأمنية أو الفنية، أو لفرض شروط الخدمة، أو ميثاق الشرف أو سياسة الخصوصية هذه. وكل ما قد يكون مكلوب بموجب القانون أو لحماية حقوقنا والممتلكات، أو سلامة أو مصالح الآخرين.</li>

            <li class="en">With our affiliates or educational institutions affiliates, or with successors in the event of a merger, acquisition or reorganization, for their use consistent with this Privacy Policy.</li>
            <li class="he"> עם גופים וארגונים הקשורים אלינו או למוסדות החינוך ו/או שעמם אנו או מוסדות החינוך משתפים פעולה, או עם אלו שיבואו במקומנו, במקרה שניהול אתר זה או כל חלק ממנו יועבר לצד שלישי אחר כלשהו, לצורך מתן השירותים על ידם, בהתאם לתנאי מדיניות פרטיות זו.</li>
            <li class="ar">مع الشركات التابعة لنا أو الشركات التابعة لها والمؤسسات التعليمية، أو مع خلفاء في حال الاندماج، الاستحواذ أو إعادة التنظيم، لاستخدامها بما يتفق مع سياسة الخصوصية هذه.</li>

            <li class="en">As otherwise described to you at the point of collection or pursuant to your consent.</li>
            <li class="he">כפי שיתואר בפניכם בעת גביית כספים ממכם או בהתאם להסכמתכם.</li>
            <li class="ar"> بأي شكل آخر الذي يتم وصفه لك عند الحصول على الموافقة الخاصة بك.</li>

            <li class="en">For integration with third party services. For example, videos and other content may be hosted on YouTube and other websites not controlled by us.</li>
            <li class="he">לצורך אינטגרציה עם שירותי צד ג'. לדוגמה, סרטונים ותכנים נוספים שיועלו על גבי אתר YouTube או באתרים אחרים שאינם תחת שליטתנו.</li>
            <li class="ar">للتكامل مع خدمات طرف ثالث. على سبيل المثال، قد يتم استضافة فيديوهات ومحتويات أخرى على موقع يوتيوب وغيرها من المواقع التي ليس لنا سيطرة عليها</li>
          </ul>

          <p class="en instructions">
            <span>Please Note:</span>
            <span>We will share Learner Data with edX Inc. which will provide us hosting & other services as site administrator.</span>
            <span>According to the service agreement signed between us (NDB) and edX Inc. edX Inc.:</span>
          </p>
          <p class="he instructions">
            <span>לתשומת ליבכם:</span>
            <span>בכוונתנו לשתף ולחלוק נתוני הלומד אודותיכם עם חברת  EdX.inc, שמספקת או תספק לנו שירותי אירוח ושירותים אחרים כמנהל האתר.</span>
            <span>לפי הסכם למתן שירותים שנחתם ביננו (מטה המיזם הלאומי "ישראל דיגיטלית") לבין EdX.inc :</span>
          </p>
          <p class="ar">
            <span>يرجى الملاحظة:</span>
            <span>نحن لن نشارك بيانات الطالب مع edX Inc. الذي سيقدم لنا خدمات استضافة وخدمات أخرى كمسؤول الموقع.</span>
            <span>وفقاً لاتفاقية الخدمة الموقعة بيننا (NDB) وبين edX Inc.:</span>
          </p>

          <p class="en">"EdX shall use such Learner Data only to the extent required to in order to carry out tasks in compliance with this Agreement. EdX will ensure that it will not share Learner Data with any third parties unless edX has NDB written prior consent or that edX is required to share such information, provided that appropriate confidentiality and security measures are taken. EdX will comply with all applicable laws, policies, and regulations relating to its use of Learner Data."</p>
          <p class="he">"EdX תעשה שימוש בנתוני לומד כאלה רק במידה שהדבר הכרחי לצורך ביצוע המשימות בהתאם להסכם זה. EdX תבטיח שלא תחלוק את נתוני הלומד עם צד ג' אלא אם יש קיבלה אישור בכתב ומראש  ממטה ישראל דיגיטליתאו במקרה ש-EdX נדרשת לחלוק את המידע, וזאת בתנאי שתנקוט אמצעי בטיחות וחשאיות ראויים. EdX תפעל על פי כל החוקים, כללי המדיניות והתקנות החלים עליה והנוגעים  לשימוש שהיא מבצעת בנתוני הלומד."</p>
          <p class="ar">"يجب على EdX استخدام بيانات الطالب فقط بالقدر اللازم من أجل تنفيذ المهام بموجب هذا الاتفاق. وستلتزم EdX بعدم مشاركة بيانات الطالب مع أي طرف ثالث إلا إذا حصلت EdXعلى موافقة NDB الخطية المسبقة أو إذا شاركت EdX هذه البيانات شريطة أن يتم اتخاذ إجراءات سرية وأمنية. سوف تلتزم EdX بجميع القوانين والسياسات واللوائح المتعلقة باستخدام بيانات الطالب".</p>

          <p class="en">The Site is hosted and The Data on it stored, on Amazon’s Dublin, Ireland data center (AWS). For AWS' privacy policy & Terms of use, please go to: <a href="https://aws.amazon.com/privacy" class="brand-link">https://aws.amazon.com/privacy</a></p>
          <p class="he">האתר והנתונים המאוחסנים בו מאוחסנים בחוות השרתים (AWS) של Amazon בדבלין, אירלנד. לצורך עיון במדיניות הפרטיות ותנאי השימוש של AWS, גשו לכתובת: <a href="https://aws.amazon.com/privacy" class="brand-link"> https://aws.amazon.com/privacy</a></p>
          <p class="ar">تتم استضافة الموقع وتخزين البيانات الموجودة عليه في موقع أمازون في دبلن، مركز البيانات في إيرلندا ("AWS). للاطلاع على سياسة الخصوصية وشروط الاستخدام الخاصة ب AWS، يرجى التوجه إلى:<a href="https://aws.amazon.com/privacy" class="brand-link">https://aws.amazon.com/privacy</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


<%block name="js_extra">
    <script src="${static.url('js/animation-scroll.js')}"></script>
</%block>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
    $("li.${LANGUAGE_CODE}").css('display', 'list-item');
</script>
