## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
  <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-3">
          <ul class="list-divided">
          </ul>
        </div>
        <div class="col col-12 sm-col-12 md-col-9 he">
          <h2 id="privacy-policy">הסכם שירותים לאתר IsraelX תנאי שירות ומדיניות הגנה על פרטיות</h2>
          <p>
           על מנת להירשם ולקבל את השירותים המוצעים באתר זה, ננפיק לכם שם משתמש וססמה אישיים.
          </p>
          <p>
יש לשים לב כי בעת הכניסה לאתר זה, הנכם מאשרים שאתם מבינים ומאשרים באופן חד משמעי את איסוף, שימוש, גילוי ושמירת פרטיכם האישיים, כמפורט להלן, בישראל, באירלנד ובמדינות וטריטוריות אחרות, לצרכים המפורטים במסמך מדיניות פרטיות זה. למען הסר ספק, מובהר כי כל אישור הנוגע לזכות להעברת מידע המוגדר להלן כ-"נתוני הלומד" כוללת גם את אישורכם להעברת המידע האישי הרלוונטי לתחום השיפוט שעשוי לספק רמה שונה של הגנת פרטיות מזו הקיימת במדינתכם.
          </p>
          <p>
אם אינכם מסכימים לתנאים אלה, אנא הימנעו מלגשת לאתר, לעיין באלו מתכניו או להירשם אליו. אם אתם בוחרים שלא לספק לנו מידע מסוים הנדרש לאספקת שירותים מסוימים שאתרנו מציע, יתכן שלא תוכלו ליצור חשבון משתמש, ויתכן שלא נוכל לספק לכם את השירותים הללו.
          </p>
          <p>
              נזדקק שתספקו לנו את המידע להלן אודותיכם ("נתוני לומד"):
              <ul class="list-bulleted">
                <li class="item">    	שם מלא</li>
                <li class="item">     	מספר זהות</li>
                <li class="item">     	כתובת דוא"ל</li>
                <li class="item">   	שם ארגון</li>
                <li class="item">    	שם הקורס שהנכם נרשמים אליו.</li>
              </ul>
          </p>

          <p>
אנו אוספים את נתוני הלומד במעמד הרשמתכםלאתר לצורך קבלתחשבון משתמש, כאשר הנכם משתתפים בקורסים מקוונים, נרשמים לקבלת תעודה בתשלום, שולחים לנו הודעות דוא"ל ו/או משתתפים בפורומים הציבוריים שלנו. אנו גם אוספים מידע שימושי מסוים על ביצועי תלמידים ודפוסי למידה. בנוסף, אנחנו עוקבים אחר מידע המעיד, בין היתר, באלו מדפי האתר ביקרתם, הסדר בו ביקרתם בהם, מתי ביקרתם בהם ובאילו היפר-קישורים ובקרי ממשק אחרים השתמשתם.
          </p>

          <p>
אנו עשויים לתעד את כתובת ה-IP, מערכת ההפעלה ותוכנת הדפדפן המשמשים כל משתמש באתר, וביכולתנו לזהות מכתובת ה-IP את ספק האינטרנט והמיקום הגאוגרפי של נקודת ההתקשרות של המשתמש. מבחר כלי אנליטיקת רשת משמשים לאיסוף מידע זה. חלק מהמידע נאסף באמצעות קבצי Cookies (קבצי טקסט קטנים המוכנסים למחשב שלכם ומתעדים מידע עליכם, שאליו האתר יכול לגשת). אמורה להיות לכם היכולת לשלוט באופן שבו דפדפן האינטרנט שלכם מקבל קבצי Cookies, אם בכלל יקבל אותם. מרבית הדפדפנים מספקים הוראות כיצד לאפס את הדפדפן כך שיידחה קבצי Cookies, באיזור ה"עזרה" בסרגל הכלים. אם תדחו את קבצי ה-Cookies שלנו, תפקודים ואלמנטים רבים של כלי עזר באתר עשויים שלא לעבוד כראוי.
          </p>

          <p>
בין היתר, אנו, מוסדות חינוך וגופים אחרים (להלן:"מוסדות החינוך"), המספקים קורסים באמצעות האתר, עשויים להשתמש במידע עליכם שייאסף מן האתר (כולל נתוני הלומד) במקרים שלהלן. במקרה שנשתף או נמסור את נתוני הלומד אודותיך: (1) נדרשים צדדים שלישיים המקבלים את נתוני הלומד לנהוג בנתונים אלו באופן חסוי  ולהפעיל אמצעי אבטחה מספקים לשם ההגנה על המידע מאובדן, שימוש בלתי הולם, גישה בלתי מורשה או חשיפה, שינוי והשמדה; (2) אנו נחשוף ונשתף את נתוני הלומד בפני צד ג' רק כשהדבר יידרש על ידי צד ג' לשם ביצוע אחת המטרות שהוצהרו בפניך, בעת איסוף המידע.

              <ul class="list-bulleted">
                <li class="item">  על מנת לאפשר לנו ולמוסדות החינוך לספק את הקורסים, לנהל אותם ולשפר אותם.</li>
                <li class="item">על מנת לסייע לנו ולמוסדות החינוך לשפר את הצעת הערך של האתר, הן באופן פרטני (למשל על ידי צוות קורס בעת העבודה עם תלמיד), והן באופן כולל, ולהפוך את החוויה ליותר מותאמת אישית ולצורך ביצוע הערכה בדבר  הגישה לאתר השימוש בו, ואת השפעתו על קהילת החינוך הישראלית וקהילת החינוך הבינלאומית.</li>
                <li class="item">  לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך.</li>
                <li class="item">  למטרות שלשמן סיפקתם את המידע במפורש, למשל, למענה על שאלה מסוימת או כדי לאפשר לכם גישה לתוכן הקורס המסוים ו/או שירותי הקורס המסוימים שתבחרו.</li>
                <li class="item">על מנת לנהל מעקב פרטני וכולל של נוכחות, התקדמות והשלמתו של קורס מקוון, ולשם ניתוח הסטטיסטיקה על ביצועי תלמידים ואופן הלימוד של תלמידים.</li>
                <li class="item"> על מנת לנטר ולזהות הפרות של קוד הכבוד או של תנאי השירות, כמו גם ניצול לרעה או ניצול אפשרי לרעה של האתר.</li>
                <li class="item">על מנת לפרסם מידע שנאסף, אך לא מידע אישי, הנוגע לגישה לאתר, לשימוש בו, להשפעתו ולביצועי התלמידים.</li>
                <li class="item">על מנת לפרסם מידע שנאסף, אך לא מידע אישי, הנוגע לגישה לאתר, לשימוש בו, להשפעתו ולביצועי התלמידים.</li>
                <li class="item"> על מנת לארכב מידע זה ו/או להשתמש בו בתקשורת עתידית עמכם.</li>
                <li class="item"> על מנת לשמר ולשפר את תפקוד האתר, את התוכנה, המערכות והרשת שלנו, ואת אבטחתם.</li>
                <li class="item"> למטרות המתוארות במקומות שונים במדיניות הפרטיות הזו (כולל, לדוגמה, שיתוף עם צד ג').</li>
                <li class="item">  לצורך אימות זהותך בעת ההרשמה לתעודה בתשלום.</li>
                <li class="item"> על מנת לעבד בקשות החזר כספי, ככל שהדבר ישים.</li>
              </ul>
          </p>

          <p>
              אתר זה עשוי להכיל קישורים לאתרי אינטרנט המתופעלים על ידי צד ג', לרבות ספקי תוכן אחרים וכן ספקי שירות מסוימים, כגון אותם ספקים המעבדים את התשלומים מטעמנו. אתרי אינטרנט אחרים אלה אינם נמצאים תחת שליטתנו, והנכם מסכימים ומכירים בכך שאיננו אחראים לאיסוף המידע האישי שלכם והשימוש בו במסגרת ביקורכם באתרים אלה, אלא אם מצוין אחרת במדיניות פרטיות זו. אנו ממליצים לכם להיזהר כשאתם מופנים לאתרי צד ג' מתוך אתר זה, ולעיין במדיניות הפרטיות של כל אתר ואתר שאתם מבקרים בו ומשתמשים בו.
אנו נחלוק את המידע שאנו אוספים עם מוסדות חינוך, ואנו ומוסדות החינוך עשויים לחלוק מידע זה (כולל נתוני הלומד) עם צד ג' כדלקמן:

              <ul class="list-bulleted">
                <li class="item">עם ספקי שירות או קבלנים שמבצעים פעולות מסוימות בשמנו או בשם מוסדות החינוך, כולל עיבוד מידע שסיפקתם לנו באתר, עיבוד רכישות ועסקאות אחרות באתר דרך ספקי צד ג', הפעלת האתר או חלקים ממנו, אספקת קורסים או ניהולם, או בכל קשר לכל היבט אחר של השירותים המוענקים על ידנו.</li>
                <li class="item"> עם מבקרים אחרים באתר, במידה שהנכם שולחים תגובות, שיעורי בית או מידע אחר ותכנים אחרים (יחדיו, "הפרסומים") לחלק באתר שיועד לתקשורת ציבורית; ולחברים אחרים בכיתה שאתם חברים בה, במידה שהנכם שולחים פרסומים לחלק באתר שיועד לעיונם של חברי כיתה אלה. אנחנו עשויים לספק את פרסומיכם לתלמידים שיירשמו לאותם קורסים שלמדתם, בהקשר של הפורומים, הלומדה או בכל הקשר אחר. אם אנו מפרסמים מחדש את פרסומיכם, שהופיעו במקור בחלקים הבלתי-ציבוריים של האתר, נפרסם אותם ללא שמכם האמיתי וכתובת הדוא"ל האמיתית שלכם (אלא אם תאשרו את פרסום פרטיכם במפורש), אך נוכל להשתמש בשם המשתמש שלכם ללא הסכמתכם.</li>
                <li class="item">לצרכי מחקר מדעי, ובייחוד, לדוגמה, בתחומים של מדע הקוגניציה וחינוך. יחד עם זאת, אנו נחלוק את המידע האישי שלכם למטרה זו אך ורק במידה וניתן לעשות זאת על פי הדין ובמידה המותרת על פי הדין בלבד.</li>
                <li class="item">על מנת לספק לכם הזדמנויות  לתקשר עם משתמשים אחרים בעלי תחומי עניין דומים לשלכם ומטרות לימוד דומות לשלכם. למשל, אנחנו עשויים להמליץ על שותפים מסוימים ללימוד או לקשר בין תלמידים עם פוטנציאל להיות מנטורים אחד של השני. במקרים כאלה, נוכל להשתמש במידע שאספנו עליכם כדי להכריע מי יהיה מעוניין בתקשורת עמכם, אך נספק לתלמידים אחרים רק את שם המשתמש שלכם, ולא נחשוף את שמכם האמיתי או את כתובת הדוא"ל שבה ניתן ליצור איתכם קשר.</li>
                <li class="item"> בתגובה לזימון לבית דין או לצו בית משפט, או עבור כל תהליך חוקי אחר; על מנת לחקור, או למנוע חקירה, או על מנת לפעול בתגובה לפעילויות בלתי-חוקיות, חשד להונאה, או לאור בעיות אבטחה או בעיות טכניות, או על מנת לאכוף את תנאי השירות שלנו, את קוד הכבוד שלנו או את מדיניות הפרטיות שלנו, ככל שיידרש מעבר לכך בדין החל, או על מנת להגן על זכויותינו, רכושנו ובטחוננו או של אחרים.</li>
                <li class="item">עם גופים וארגונים הקשורים אלינו או למוסדות החינוך ו/או שעמם אנו או מוסדות החינוך משתפים פעולה, או עם אלו שיבואו במקומנו, במקרה שניהול אתר זה או כל חלק ממנו יועבר לצד שלישי אחר כלשהו, לצורך מתן השירותים על ידם, בהתאם לתנאי מדיניות פרטיות זו.</li>
                <li class="item">כפי שיתואר בפניכם בעת גביית כספים ממכם או בהתאם להסכמתכם.</li>
                <li class="item">  לצורך אינטגרציה עם שירותי צד ג'. לדוגמה, סרטונים ותכנים נוספים שיועלו על גבי אתר YouTube או באתרים אחרים שאינם תחת שליטתנו.</li>
              </ul>
          </p>

          <p>
              לתשומת ליבכם:<br>
              בכוונתנו לשתף ולחלוק נתוני הלומד אודותיכם עם חברת  EdX.inc, שמספקת או תספק לנו שירותי אירוח ושירותים אחרים כמנהל האתר.
לפי הסכם למתן שירותים שנחתם ביננו (מטה המיזם הלאומי "ישראל דיגיטלית") לבין EdX.inc :
"EdX תעשה שימוש בנתוני לומד כאלה רק במידה שהדבר הכרחי לצורך ביצוע המשימות בהתאם להסכם זה. EdX תבטיח שלא תחלוק את נתוני הלומד עם צד ג' אלא אם יש קיבלה אישור בכתב ומראש  ממטה ישראל דיגיטליתאו במקרה ש-EdX נדרשת לחלוק את המידע, וזאת בתנאי שתנקוט אמצעי בטיחות וחשאיות ראויים. EdX תפעל על פי כל החוקים, כללי המדיניות והתקנות החלים עליה והנוגעים  לשימוש שהיא מבצעת בנתוני הלומד."
האתר והנתונים המאוחסנים בו מאוחסנים בחוות השרתים (AWS) של Amazon בדבלין, אירלנד. לצורך עיון במדיניות הפרטיות ותנאי השימוש של AWS, גשו לכתובת:     <a class="brand-link" target="_blank" href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a>
          </p>

          <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

        </div>
      </div>
    </div>
  </div>
</section>

<%block name="js_extra">
    <script src="${static.url('js/animation-scroll.js')}"></script>
</%block>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
</script>
