@import 'lms/static/sass/partials/base/variables';

$white: #ffffff;
$body-background-color: $white;
$x-dark: #34383a;
$light: #d2d0d0;
$dark: #6b6969;
$course-section-background-color: #f7f7f7;
$brand-color: #666666;
$base: #9b9b9b;
$success-base: #25b85a;
$error-base: #b20610;
$brand-font: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$link-color: $brand-color !default;
$gray-dark: #646464;
$gray-lighter: #ececec;

//Program details page
$black:             #000000;
$border-red:        red;
$gray:              #4a4a4a;;
$blue:              #0066a2;
$blue-light:        #0075b4;
$blue-dark:         #005686;
$green:             #008100;

$mobile:            767px;
$tablet:            768px;
$desktop:           1024px;
$desktop-xl:        1280px;

