<%page args="program_type" expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<div class="accordion-item">
    <div class="accordion-head">What is a ${program_type}?</div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <div class="vertical-icon-list">
            <div class="list-item">
                <div class="icon-container">
                    <img src="${static.url('images/img-1.png')}"/>
                </div>
                <small>Choose Your Program</small>
            </div>
            <div class="list-item">
                <div class="icon-container">
                    <img src="${static.url('images/img-2.png')}"/>
                </div>
                <small>Learn Great Things at Your Own Place</small>
            </div>
            <div class="list-item">
                <div class="icon-container">
                    <img src="${static.url('images/img-3.png')}"/>
                </div>
                <small>Earn a valuable Credntial</small>
            </div>
            <div class="list-item">
                <div class="icon-container">
                    <img src="${static.url('images/img-4.png')}"/>
                </div>
                <small>Advance Your Career</small>
            </div>
            <div class="list-item">
                <div class="icon-container">
                    <img src="${static.url('images/img-5.png')}"/>
                </div>
                <small>Or Purchase a Full Master's Degree</small>
            </div>
        </div>
    </div>
</div>
