## mako
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<section class="home">
  <header class="hero-catalog hero-small hero">
    <div class="tint-dark">
      <div class="grid-container grid-manual">
        <div class="row">
          <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint">
            <p class="he">השכלה נגישה וזמינה - במרחק הקלקה</p>
            <p class="ar">تعليم بمتناول اليد ومُتاح على بعد نقرة واحدة فقط</p>
            <p class="en">Education is only one click away</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="courses-section">
    <div class="courses-container">
      <div class="highlighted-courses">
        <section class="courses">
          <div class="grid-manual">

            <div class="row">
              <div class="col col-12 text-center">
                <h2>
                  <span class="course-list-heading he"> העשירו את הידע והקריירה שלכם באמצעות הקורסים שלנו</span>
                  <span class="course-list-heading ar"> نمي معرفتك وخبرتك المهنية من خلال دوراتنا</span>
                  <span class="course-list-heading en"> Enrich your knowledge and career through our courses</span>
                </h2>
              </div>
            </div>

            <div class="row course-list">
              %for course in courses:
              <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                <div class="courses-listing-item">
                  <%include file="../course.html" args="course=course" />
                </div>
              </div>
              %endfor
            </div>

          </div>
        </section>
      </div>
    </div>
  </section>
</section>

<script type="text/javascript">
    $(".${LANGUAGE_CODE}").css('display', 'block');
</script>
