<%inherit file="../main.html" />
<%!
from datetime import datetime
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%namespace name='static' file='../static_content.html'/>

<%
faq = program['faq']
program_type = program['type']
title = program['title']
status = program['status']
courses = program['courses']
subtitle = program['subtitle']
overview = program['overview']
instructors = program['instructors']
job_outlook_items = program['job_outlook_items']
weeks_to_complete = program['weeks_to_complete']
full_program_price_format = '{0:.0f}' if program['full_program_price'].is_integer() else '{0:.2f}'
full_program_price = full_program_price_format.format(program['full_program_price'])
endorsement = program['individual_endorsements'][0] if program['individual_endorsements'] else {}
endorsement_quote = endorsement.get('quote', '')
endorser = endorsement.get('endorser', {})
endorsement_image = endorser.get('profile_image', {}).get('medium', {}).get('url', '')
endorsement_name = endorser.get('given_name', '')
endorsement_position = (endorser.get('position') or {}).get('title', '')
endorsement_organization = (endorser.get('position') or {}).get('organization_name', '')
expected_learning_items = program['expected_learning_items']
authoring_organizations = program['authoring_organizations']
min_hours_effort_per_week = program['min_hours_effort_per_week']
max_hours_effort_per_week = program['max_hours_effort_per_week']
video_url = (program.get('video', {}) or {}).get('src', '')
banner_image = program.get('banner_image', {}).get('large', {}).get('url', '')
description_max_length = 250
%>

<%static:css group='style-main-v2'/>

<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/slick.css')}"/>
</%block>

<%block name="js_extra">
<script src="${static.url('js/slick.min.js')}"></script>
<script src="${static.url('js/leanModal.js')}"></script>
<script src="${static.url('js/program_marketing.js')}"></script>
</%block>

<%block name="pagetitle">${program['title']}</%block>

<div id="program-details-page">
    <div class="main-banner" style="background: #000 url(${banner_image}) no-repeat center center / cover;">
        <div class="grid-manual">
            <div class="row">
                <div class="col col-12 md-col-8 lg-col-9">
                    <div class="org-logo">
                        % if authoring_organizations and authoring_organizations[0]['logo_image_url']:
                        <img src="${authoring_organizations[0]['logo_image_url']}"
                             alt="${authoring_organizations[0]['name']}">
                        % endif
                    </div>
                    <h1 class="banner-title">${title}</h1>
                    <p class="banner-description">${subtitle}</p>
                    <a href="#courses" class="btn-brand btn-large hidden-sm btn-start">
                        Start Learning
                    </a>
                </div>
                <div class="col col-12 md-col-4 lg-col-3" id="course-trailer">
                    <a href="#video-modal" class="media trailer-link visible-sm" rel="leanModal">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        <span>View Course Trailer</span>
                    </a>
                    <div class="hidden-sm">
                        <a href="#video-modal" class="media btn-play" rel="leanModal">
                            <img src="${static.url('images/btn-play.png')}" alt="Play"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-manual data-table">
        <div class="row">
            <div class="col col-12 md-col-7 lg-col-8 left-col">
                <ul class="list-divided program-desc-tbl">
                    <li class="item">
                        <span>
                            <span class="fa fa-book fa-lg" aria-hidden="true"></span>
                            Number of Courses
                        </span>
                        <a href="#courses">${len(courses)} courses in program</a>
                    </li>
                    <li class="item">
                        <span>
                            <span class="fa fa-clock-o fa-lg" aria-hidden="true"></span>
                            Average Length
                        </span>
                        <span>${weeks_to_complete} weeks per course</span>
                    </li>
                    <li class="item">
                        <span>
                            <span class="fa fa-tachometer fa-lg" aria-hidden="true"></span>
                            Effort
                        </span>
                        <span>${min_hours_effort_per_week}-${max_hours_effort_per_week} hours per week, per course</span>
                    </li>
                    <li class="item">
                        <span>
                            <span class="fa fa-tag fa-lg" aria-hidden="true"></span>
                            Price (USD)
                        </span>
                        <span>$${full_program_price} for entire program</span>
                    </li>
                </ul>
                <div id="accordion-group">
                    <div class="accordion-item">
                        <div class="accordion-head">Overview</div>
                        <div class="accordion-content">
                            <p>
                                ${overview}
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-head">Job Outlook</div>
                        <div class="accordion-content">

                            <ul class="list-bulleted list-disc no-indent">
                                % for item in job_outlook_items:
                                <li>${item}</li>
                                % endfor
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-head">What You'll Learn</div>
                        <div class="accordion-content">
                            <ul class="list-bulleted list-disc no-indent">
                                % for item in expected_learning_items:
                                <li>${item}</li>
                                % endfor
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item instructors-mobile-list">
                        <div class="accordion-head">Instructors</div>
                        <div class="accordion-content">
                            <div class="instructor-profiles">
                                <% index = 0 %>
                                % for instructor in instructors:
                                <% index += 1 %>
                                <div class="profile-item">
                                    <div class="avatar">
                                        <div class="img-holder">
                                            <a href="#instructor-details-mobile-${index}" class="instructor-image"><img
                                                    src="${static.url(instructor.get('image'))}"
                                                    alt="${instructor.get('name')}"/></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="name"><a href="#instructor-details-mobile-${index}" class="instructor-label">${instructor.get('name')}</a></div>
                                        <div class="dept">${instructor.get('organization')}</div>
                                    </div>

                                    <div class="modal modal-custom" id="instructor-details-mobile-${index}">
                                        <a href="#" class="focusKeeper"></a>
                                        <div class="btn-close modal_close"><a href="#"><i class="fa fa-close"></i></a></div>
                                        <div class="modal-body">
                                            <div class="modal-header">
                                                <div class="instructor-data">
                                                    <div class="thumbnail">
                                                        <img src="${instructor['image']}" alt="${instructor['name']}">
                                                    </div>
                                                    <h3>
                                                        <span class="instructor-name">${instructor['name']}</span>
                                                    <span>${instructor['title']}
                                                    % if instructor['organization']:
                                                        at ${instructor['organization']}
                                                    % endif
                                                    </span>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="instructor-bio">${instructor['bio']}</div>
                                        </div>
                                        <a href="#" class="focusKeeper"></a>
                                    </div>

                                </div>
                                %endfor
                            </div>
                        </div>
                    </div>
                    <%include file="_program_type_faq.html" args="program_type=program_type" />
                    <div class="accordion-item">
                        <div class="accordion-head">FAQ</div>
                        <div class="accordion-content">
                            <ul class="list-unstyled faq-links-list">
                                % for item in faq:
                                <li class="item">
                                    <a href="#!">${item['question']}</a>
                                    <div class="answer hidden">${item['answer']}</div>
                                </li>
                                % endfor
                            </ul>
                        </div>
                    </div>
                </div>
                <blockquote class="program-quote visible-sm">
                    <div class="quote">
                        % if endorsement:
                        <span>
                            "${endorsement_quote}"
                        </span>
                        % if endorser:
                        <img class="visible-sm pull-left"
                             src="${endorsement_image}" width="40"
                             height="40"/>
                          <span class="writer">
                            ${endorsement_name},
                            ${endorsement_position},
                            ${endorsement_organization}
                          </span>
                        % endif
                        % endif
                    </div>
                </blockquote>
            </div>

            <div class="col col-12 md-col-5 lg-col-4 right-col hidden-sm">

                <h2 class="instructors-title">Meet the Instructors <span>(${len(instructors)})</span></h2>
                <div class="instructor-profiles">
                    <% index = 0 %>
                    % for instructor in instructors:
                    <% index += 1 %>
                    <div class="profile-item profile-item-desktop">
                        <div class="avatar">
                            <div class="img-holder">
                                <a href="#instructor-details-${index}" class="instructor-image"><img
                                        src="${static.url(instructor.get('image'))}"
                                        alt="${instructor.get('name')}"/></a>
                            </div>
                        </div>
                        <div class="details">
                            <div class="name"><a href="#instructor-details-${index}" class="instructor-label">${instructor.get('name')}</a></div>
                            <div class="dept">${instructor.get('organization')}</div>
                        </div>

                        <div class="modal modal-custom" id="instructor-details-${index}">
                            <a href="#" class="focusKeeper"></a>
                            <div class="btn-close modal_close"><a href="#"><i class="fa fa-close"></i></a></div>
                            <div class="modal-body">
                                <div class="modal-header">
                                    <div class="instructor-data">
                                        <div class="thumbnail">
                                            <img src="${instructor['image']}" alt="${instructor['name']}">
                                        </div>
                                        <h3>
                                            <span class="instructor-name">${instructor['name']}</span>
                                        <span>${instructor['title']}
                                        % if instructor['organization']:
                                            at ${instructor['organization']}
                                        % endif
                                        </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="instructor-bio">${instructor['bio']}</div>
                            </div>
                            <a href="#" class="focusKeeper"></a>
                        </div>

                    </div>
                    % endfor

                    <div class="pagination hidden-xs">
                        <div class="pages"><span class="pagination-start"></span>-<span class="pagination-end"></span>
                            of <span class="instructor-size">${len(instructors)}</span></div>
                        <div class="controls">
                            <a href="#" id="pagination-previous"><span class="fa fa-chevron-up"></span></a>
                            <a href="#" id="pagination-next" class="active"><span class="fa fa-chevron-down active"></span></a>
                        </div>
                    </div>
                </div>
                <blockquote class="program-quote">
                    <div class="quote">
                        % if endorsement:
                        <span class="pull-right hidden-sm">
                            % if endorser:
                            <img src="${endorsement_image}" width="90" height="90" alt="Endorser Image"/>
                            % endif
                        </span>
                        <span>
                           "${endorsement_quote}"
                        </span>
                        <span class="writer">
                            % if endorser:
                            ${endorsement_name},
                            ${endorsement_position},
                            ${endorsement_organization}
                            % endif
                        </span>
                        % endif
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container courses-in-program" id="courses">
        <h3 class="hd">Courses in the ${program_type}</h3>
        <div class="course-slider-xs">
            % for course in courses:
            % if course.get('course_runs'):
            <div class="course-card">
                <div class="course-content">
                    <div class="col-full-sm">
                        <h4 class="hd title">
                            <a href="/courses/${course['course_runs'][0]['key']}/about"> ${course['title']}</a>
                            <small>
                                    <span>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        Starts ${datetime.strptime(course['course_runs'][0]['start'], '%Y-%m-%dT%H:%M:%SZ').strftime('%B %-d, %Y')}
                                    </span>

                                %if course['course_runs'][0]['pacing_type'] == "instructor_paced":
                                <span>Instructor - Paced</span>
                                %else:
                                <span>Self - Paced</span>
                                %endif
                            </small>

                        </h4>
                        <p class="copy-meta">
                            % if course['course_runs'][0]['short_description']:
                            ${course['course_runs'][0]['short_description']}
                            % endif
                        </p>
                        <p class="copy-meta-mobile">
                            % if course['course_runs'][0]['short_description']:
                                % if len(course['course_runs'][0]['short_description']) > description_max_length:
                                    ${course['course_runs'][0]['short_description'][:description_max_length]}...
                                % else:
                                    ${course['course_runs'][0]['short_description']}
                                % endif
                            % endif
                        </p>
                    </div>
                    <div class="col-full-sm">
                        <%include file="_enroll_button_program.html" args="course=course" />
                    </div>
                </div>
            </div>
            % endif
            % endfor
        </div>
        <span class="pagingInfo"></span>
    </div>

    <section id="video-modal" class="modal modal-custom custom-video-modal">
        <div class="inner-wrapper">
            <iframe title="YouTube Video" width="640" height="360"
                    src="${video_url}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

</div>
